{% extends "base.html" %}

{% block content %}
  <div class="my-3">
    <div class="mb-3">
      <h1 class="mb-0">{{app.name}}</h1>
      <a href="https://{{ app.name }}.rajdhani.pipal.in" class="text-decoration-none" target="_blank">
        Visit website
      </a>
    </div>
    <div>{{app.score}} tasks completed | Current Task: {{ app.current_task }} | Last updated {{datestr(app.last_updated) }}</div>
  </div>

  <h2>Tasks</h2>

  {% for task in tasks %}

  <div class="card my-2" >
    <div class="card-body">
      <h5 class="card-title">Task {{loop.index}}: {{task.title}}</h5>
      <p class="card-text">{{markdown_to_html(task.description)}}</p>

      <p class="text-muted">
      {% if app.is_task_done(task.name) %}Status: Complete
      {% else %}Status: Pending
      {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}

  <h2>Change Log</h2>
  {% for entry in app.get_changelog() %}
  <div>{{datestr(entry.timestamp)}} - {{entry.type}} - {{entry.message}}</div>
  {% endfor %}

  {% endblock %}
